{% extends 'base.html' %}
{% block title %} وظایف مدیرگروه   {% endblock %}
{% block content %}
{% include 'partials/_topbar.html' %}
<section>
    <div class="container">
        <div class="row">
            <div class="card my-5 border-2 border-success " style="padding: 5px;">
                <div class="card-header">
                    <strong><ul> آيين نامه مديريت دانشگاهها و موسسات آموزش عالی بر اساس ماده39</ul></strong>
                </div>
                <div class="card-body">
                    <small>
                        <li>الف- تهيه برنامه اجرائي وظايف آموزشي و پژوهشي و خدماتي ارائه شده از طريق گروه براساس خط مشي شوراي دانشكده با مشورت اعضاي گروه قبل از شروع نيمسال تحصيلي و گزارش آن به رئيس دانشكده.</li><br>
                        <li>ب- ابلاغ برنامه‌هاي اجرائي وظايف آموزشي و پژوهشي و خدماتي هر يك از اعضاي گروه.</li><br>
                        <li>ج- نظارت بر كليه فعاليتهاي آموزشي و پژوهشي و خدمات گروهي.</li><br>
                        <li>د- تهيه جدول دروس هر نيمسال با همكاري اعضاي گروه و تسليم آن به رئيس دانشكده.</li><br>
                        <li>ه- تجديد نظر مستمر در برنامه‌ها با توجه به آخرين پيشرفتها و تغييرات و تحولات و تسليم اين برنامه ها به مراجع ذيربط.</li><br>
                        <li>و- تشكيل و اداره جلسات شوراي گروه و ارسال گزارش كار، مصوبات، پيشنهادها و نظريات جمعي گروه به رئيس دانشكده يا آموزشكده براي هماهنگي اجرائي يا طي مراحل قانوني و ابلاغ بخشنامه‌ها و آئين نامه‌ها و مصوباتي كه رئيس دانشكده يا آموزشكده ارسال كرده است.</li><br>
                        <li>ز- پيشنهاد نيازهاي مالي گروه به رئيس دانشكده.</li><br>
                        <li>ج- انجام دادن كليه مكاتبات رسمي گروه و پيشنهاد تهيه لوازم، كتابها، نشريات مورد نياز گروه به رئيس دانشكده و يا آموزشكده.</li><br>
                        <li>ط- پيشنهاد طرحهاي پژوهشي كه گروه راسا" يا با همكاري گروههاي ديگر آماده انجام دادن آن است به رئيس دانشكده يا آموزشكده براي تصويب در شوراي پژوهشي دانشگاه.</li><br>
                        <li>ي- ارزيابي كار سالانه اعضاي گروه و گزارش آن به رئيس دانشكده.</li><br>
                    </small>
                </div>
            </div>
            <div class="row" style="padding: 5px;">
                <div class="card border-2 border-dark">
                    <div class="card-header">
                        <strong><ul>شرح وظايف مدير گروه</ul></strong>
                    </div>
                    <div class="card-body">
                        <p>
                            <li>1.    نظارت بر كليه فعاليتهاي آموزشي و پژوهشي و خدماتي در گروه.</li><br>
                            <li>2.    ارزيابي كار سالانه اعضاي گروه و گزارش آن به رئيس دانشكده.</li><br>
                            <li>3.    تهيه جدول دروس هر نيمسال با همكاري اعضاي گروه و تسليم آن به رئيس دانشكده.</li><br>
                            <li>4.    تجديد نظر مستمر در برنامه‌ها با توجه به آخرين پيشرفت ها و تغييرات و تحولات و تسليم اين برنامه‌ها به مراجع ذيربط.</li><br>
                            <li>5.    پيشنهاد نيازهاي مالي گروه به رئيس دانشكده.</li><br>
                            <li>6.    اظهارنظر درباره بورسها، فرصتهاي مطالعاتي و ماموريتهاي اعضاي گروه و پيشنهاد آن به رئيس دانشكده.</li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}