#header {
    height: 60px;
    background: #10284e;
    color: #fff;
}

#branding h2 {
    padding-top: 15px ;
    padding-bottom: 15px;
}

a:link,
a:visited {
    color: #333;
}

div.breadcrumbs {
    background:#30caa0 ;
    color: #0d6efd;
}

.module caption, .inline-group h2 {
    background:#30caa0 ;
}

.object-tools a.addlink {
    background: #6f42c1;
    height: 50px;
    width: 100px;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    background: #10284e;
    color: #fff;
}
